body{
    background-color:azure;
    border: 2px black solid;
}

.navBar
{
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    color: aqua;
    
}



.homeDiv
{
    
    width: 70%; /* or any width */
    margin:10px auto;
    font-size: 1.5em;
}

.aboutDiv
{
   
    margin: 50px auto;
    width: 80%;
}

.aboutDiv h1,h2,h3
{
    text-align: center;
   
}
.aboutDiv p
{
    font-size: 20px;
    color: blue;
}

.productsDiv
{
    border: 2px solid red;
    margin: 50px 20px;
    width: auto;
}

.productsDiv img
{
    height: 200px;
    width: 275px;
    transition: height 0.5s ease, width 0.5s ease;
}

.productsDiv img:hover
{
    height: 300px;
    width: 500px;
    
}
.contactusDiv
{
    background-color:blanchedalmond;

}

.contactusDiv table
{
 
    margin: 0 auto;

    
}
.contactusDiv table td
{
    padding: 0px 50px;
    justify-content: left;
}


