body{
    background-color:azure;
    
}

.navBar
{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: aqua;
    
}

.Project1-Div
{
    border: 2px black dotted;
}