#body32  {
    background-color: #ADD8E6 !important; 
    font-family: Arial, sans-serif;
    color: #333; 
    margin: 0;
    height: 100vh; 
}

nav
{
    background-color:rgb(66, 183, 7) !important;

}

